main {
    margin-right: 600px;
    margin-left: 400px;
}

h1 {
    text-align: left;
    margin-left: 45px;
}

figure img[data-src] {
    filter: blur(0.5em);
}

figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

nav {
    background-color: white;
    margin-left: 6px;
    margin-right: 6px;
}