@media only screen and (min-width: 1025px) {
    nav button {
        display: none;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    nav ul.hide {
        display: block;
    }
    main {
        margin: 0px 190px;
    }
    h1 {
        margin-left: -13px;
    }
    h2 {
        margin-left: 1px;
    }
    form fieldset label.send input {
        font-size: 26px;
        border-radius: 8px;
        padding: 15px 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 4px;
        max-width: 15rem;
    }
    textarea {
        margin-left: 2px;
    }
}