        @media only screen and (min-width: 608px) {
        p {
            margin-left: 40px;
            font-size: 25px;
        }
        main {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            gap: 15px;
        }