    @media only screen and (min-width: 608px) {
        body>header>img {
            border: none;
        }
        nav button {
            display: none;
        }
        nav ul li {
            float: left;
        }
        nav ul li a {
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
            padding: .8rem 1rem;
        }
        nav ul.hide {
            display: block;
        }
        header .pagetitle p {
            font-size: 20px;
        }
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 25px;
        }
        main {
            padding-bottom: 50px;
            border: 5px solid #54bdb4;
        }
        #town>img {
            height: 300px;
            border: 10px dashed #ebd814;
        }
        img:hover {
            border: 10px dashed #d914eb;
        }
        .mockups {
            margin-top: 50px;
            padding: 20px;
        }
        .mockups>li>a {
            font-size: 25px;
        }
    }