@media only screen and (min-width: 38em) {
    header .pagetitle p {
        font-size: 15px;
        text-align: left;
        margin-left: 45px;
        margin-right: 10px;
    }
    nav button {
        display: none;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    nav ul.hide {
        display: block;
    }
    .weathersummary {
        top: 20px;
        left: 45px;
    }
    .weathersummary p {
        font-size: 20px;
    }
    .herosummary {
        margin-bottom: 15px;
    }
    .box0 {
        display: block;
    }
    .box0 {
        background-color: #e7d82cc4;
        margin-bottom: 10px;
        padding: 20px;
    }
    .box3 {
        height: 250px;
        margin-bottom: 15px;
        padding-top: 5px;
    }
    tbody tr td img {
        display: auto;
        width: 40px;
        height: 40px;
    }
    table,
    th,
    td {
        display: auto;
        border: 2px solid white;
    }
    table {
        display: auto;
        border-collapse: collapse;
        margin-left: 127px;
    }
    p {
        font-size: 19px;
    }
    figure img {
        width: 300px;
        margin: 10px 0px 10px 90px;
        box-shadow: 3px 3px 15px 3px black;
    }
    .container2 img {
        display: inline;
        width: 300px;
        margin-left: 20px;
        margin-top: 15px;
        float: left;
    }
    .contact {
        float: left;
        margin-left: 15px;
    }
    .contact h2 {
        text-align: center;
        margin-top: 15px;
    }
    .contact p {
        font-size: 17px;
    }
    .contact img {
        float: left;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .mediasocial {
        margin-top: 15px;
    }
    .mediasocial li img {
        width: 40px;
        height: 40px;
    }
    footer {
        height: 85px;
        margin-top: 0px;
        margin-bottom: 15px;
        padding-left: 0px;
        padding-bottom: 20px;
        padding-top: 1px;
    }
    footer p {
        font-size: 22px;
    }
}