              main {
                  display: grid;
                  grid-template-column: 1fr;
                  background-color: rgb(228, 215, 105);
                  border: 3px solid rgb(71, 26, 5);
                  max-width: 300px;
                  margin: 10px;
              }
              
              h1,
              h2 {
                  font-family: 'Lobster', cursive;
                  color: rgb(71, 26, 5);
                  text-align: center;
              }
              
              img {
                  width: 200px;
              }