    @media only screen and (min-width: 1025px) {
        header img {
            width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 15px;
        }
        nav button {
            display: none;
        }
        nav ul li {
            float: left;
        }
        nav ul li a {
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
            padding: .8rem 1rem;
        }
        nav ul.hide {
            display: block;
        }
        header,
        nav,
        main,
        footer {
            margin: auto;
        }
        #pagetitle {
            border: none;
        }
        #pagetitle>h1 {
            font-size: 43px;
        }
        #pagetitle>p {
            font-size: 30px;
        }
        nav>ul>li>a {
            font-size: 20px;
        }
        main>h1 {
            padding-left: 550px;
            font-size: 40px;
            margin-top: -2px;
            color: #ebd814;
        }
        main {
            border: none;
        }
        #town {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 15px;
            padding: 20px;
            margin-top: 30px;
        }
        main>.towns>section {
            grid: none;
            border: 5px solid #54bdb4;
            border-radius: 15px;
        }
        img {
            margin-left: 8%;
            margin-right: 10%;
        }
    }