        @media only screen and (min-width: 1025px) {
            header,
            nav,
            main,
            footer {
                margin: auto;
            }
            .pagetitle>h1 {
                font-size: 30px;
            }
            .pagetitle>p {
                font-size: 20px;
            }
            nav button {
                display: none;
            }
            nav ul li {
                float: left;
            }
            nav ul li a {
                border: none;
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                padding: .8rem 1rem;
            }
            nav ul.hide {
                display: block;
            }
            p {
                margin-left: 40px;
                font-size: 50px;
            }
            main {
                border: none;
                margin-top: 25px;
                background-color: #ffffff;
                padding-bottom: 25px;
                margin: 15px 0px 15px 0px;
            }
            .weatherphotos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 15px;
                box-shadow: 0 2px 15px gray;
                padding-left: 25px;
                padding-top: 25px;
            }
            figure>img {
                width: 250px;
                border: 8px dashed #ebd814;
            }
            figure>p {
                font-size: 25px;
                margin-right: 100px;
            }
            .hover:hover {
                border: none;
                box-shadow: 0 0 50px #D814EB;
            }
            footer>p {
                font-size: 25px;
            }
        }