@media only screen and (min-width: 38em) {
    header img {
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    header .pagetitle h1 {
        margin-left: 15px;
        font-size: 30px;
    }
    nav button {
        display: none;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    nav ul.hide {
        display: block;
    }
    main {
        border: 3px solid #54bdb4;
        border-radius: 15px;
        margin: 20px;
        padding: 20px;
        padding-top: 10px;
    }
    footer {
        height: 85px;
        margin-top: 0px;
        margin-bottom: 15px;
        padding-left: 0px;
        padding-bottom: 20px;
        padding-top: 1px;
    }
    footer p {
        font-size: 22px;
    }
}