@media only screen and (min-width: 38em) {
    nav button {
        display: none;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    nav ul.hide {
        display: block;
    }
    .weathersummary {
        top: 20px;
        left: 45px;
    }
    .weathersummary p {
        font-size: 20px;
    }
    p {
        font-size: 19px;
    }
    figure img {
        width: 300px;
        margin: 10px 0px 10px 90px;
        box-shadow: 3px 3px 15px 3px black;
    }
    .container2 .map img {
        width: 300px;
        margin: 0px;
    }
    footer {
        height: 85px;
        margin-bottom: 15px;
        padding-bottom: 20px;
        padding-top: 1px;
    }
    footer p {
        font-size: 22px;
    }
}