header,
p,
script,
h2 {
    font-family: 'Big Shoulders Display', cursive;
}

.herosummary {
    position: relative;
    margin: 10px auto;
    margin-bottom: 30px;
    border: 1px dashed cyan;
    width: 980px;
    height: 325px;
}

.hero {
    width: 960px;
    height: 300px;
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #54bdb4;
    padding: 10px;
}

p {
    text-align: center;
}

h1 {
    color: #ebd814;
    text-shadow: 6px 2px rgb(114, 101, 5);
}

h1,
ul {
    font-family: 'Racing Sans One', cursive;
}

h2 {
    color: #d914eb;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
    width: 100px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

nav {
    margin: 0px;
    margin-top: 10px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li .active a {
    background-color: #408f88;
    color: white;
}

nav ul li a:hover {
    background-color: #54bdb4;
}

nav ul.hide {
    display: none;
}

main {
    text-align: left;
}

nav,
footer {
    background-color: #8bf7ee;
    box-shadow: 0 2px 15px gray;
}

h1 {
    padding-left: 15px;
}

.box {
    border: 1px solid #54bdb4;
    margin-bottom: 10px;
    padding-left: 15px;
}

footer {
    height: 95px;
    margin-bottom: 15px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.update {
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}